@tailwind base;
@tailwind components;
@tailwind utilities;

  @keyframes zoom-in {
    0% {
      transform: scale(0, 0);
    }
  
    50% {
      transform: scale(1, 1);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }
  .spin-button-none::-webkit-outer-spin-button,
  .spin-button-none::-webkit-inner-spin-button{
    appearance: none;
  }

  
/*
 * Custom scrollbar 
 */

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 5px; /* Set height for horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0084fff2;
  border-radius: 5px;
  height: 5px; /* Set height for the scrollbar thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0085ff;
}

* {
  box-sizing: border-box;
}
  